@media screen and (max-width: 991.98px) {
    .WD-navbar {
        padding-top: 0;
        background-color: transparent;
    }
    
}

@media screen and (max-width: 600px) {
    .mast-phone {
      font-size: 75px;
      margin-top: 190px;
      margin-right: 10px;
      line-height: 1;
    }
    .mast2-phone {
        font-size: 53.5px;
        line-height: 1.7;
    }
    .mast3-phone {
        font-size: 45px;
        line-height: 2;
    }
    .text-card-phone {
        font-size: 23px;
        padding-bottom: 30px;
    }
    .dropdown-item-phone {
        font-weight: 900;
        color: var(--primary);
    }

    #navbarNavDropdown {
        background-color: rgba(117,56,93, 0.7);
    }

    .navbar-nav-phone {
        text-align: -webkit-right;
    }

    .text-list-phone {
        font-size: 14px;
    }
    .listLista{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .masthead-btn-phone {
        padding: 10px 10px;
    }

    .masthead-btn-phoneF {
        padding: 10px 15px;
    }

    .mappa-phone {
        padding: 0px 0px 10px 0px;
    }
    .h4-phone{
        font-size: 55px;
    }

    .list-phone {
        font-size: 11px;
    }
    .paddingPhone{
        padding-top: 40px;
    }
    .paddingPhone-foto{
        padding-top: 40px;
    }
    .text-card-phone-foto {
        padding-top: 55px;
        padding-bottom: 35px;
    }
    
  }

  @media screen and (min-width: 601px) and (max-width: 820px) {
    .mast {
      font-size: 100px;
      margin-top: 150px;
      line-height: 0.8;
    }
    .mast2 {
        font-size: 120px;
        line-height: 1.5;
    }
    .mast3 {
        font-size: 60px;
        line-height: 1.8;
    }
    .text-card-tablet {
        font-size: 50px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .text-card-tablet-foto {
        font-size: 35px;
        padding-top: 55px;
        padding-bottom: 35px;
    }
    .h2-tablet{
        padding-top: 65px;
    }

    p {
        font-size: 30px;
    }

    h4, h2{
        font-size: 100px;
    }
    .paddingTablet{
        padding-top: 75px;
    }
    .text-list-tablet {
        font-size: 25px;
    }
    .listLista-tablet{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    li{
        font-size: 25px;
    }

    #navbarNavDropdown {
        background-color: rgba(117,56,93, 0.7);
    }

    .dropdown-item{
        color: var(--primary);
    }

    .navbar-nav{
        text-align: -webkit-right;
    }

    .masthead-btn-tablet{
        padding: 20px 50px;
        box-shadow: 10px 6px var(--tertiary);
    }

  }

  @media screen and (min-width: 821px) and (max-width: 991px) {
    .mast {
      font-size: 100px;
      margin-top: 150px;
      line-height: 0.8;
    }
    .mast2 {
        font-size: 120px;
        line-height: 1.5;
    }
    .mast3 {
        font-size: 60px;
        line-height: 1.8;
    }

    p{
        font-size: 25px;
    }

    h4, h2{
        font-size: 60px;
    }

    li{
        font-size: 20px;
    }
    #navbarNavDropdown {
        background-color: rgba(117,56,93, 0.7);
    }

    .dropdown-item{
        color: var(--primary);
    }

    .navbar-nav{
        text-align: -webkit-right;
    }
  }

  @media screen and (min-width: 992px) {
    .mast {
      font-size: 100px;
      margin-top: 150px;
      line-height: 0.8;
    }
    .mast2 {
        font-size: 120px;
        line-height: 1.5;
    }
    .mast3 {
        font-size: 60px;
        line-height: 1.8;
    }

    .navbar-nav{
        text-align: -webkit-right;
    }

    p{
        font-size: 25px;
    }

    h4, h2{
        font-size: 60px;
    }

    li{
        font-size: 20px;
    }

  }