:root {
    --primary: #f5f3f4;;
    --secondary: #F5DEE2;
    --tertiary: #75385D;
    --gradient: linear-gradient(to bottom, #F5DEE2, #75385D);
    --gradient2: linear-gradient(to left, #F5DEE2, #75385D);
    --text: #573C43;
}

body, html {
    overflow-x: hidden;
}

* {
    font-family: 'Elsie', cursive;
}

.mast {
    color: var(--tertiary);
    text-align: center;
    font-family: 'Montez', cursive;
}

.mast2 {
    color: var(--secondary);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--tertiary);
}

.mast3 {
    color: var(--tertiary);
    text-align: center;
    font-family: 'Montez', cursive;
}

.img-party{
    opacity: 0.8;
}

p {
    font-family: 'Elsie', cursive;
}

.text-thanks {
    font-size: 30px;
}

.text-card {
    font-family: 'Montez', cursive;
    padding-bottom: 20px;
}

h4 {
    color: var(--tertiary);
    font-family: 'Montez', cursive;
    font-size: 65px;
}

h2 {
    color: var(--tertiary);
    padding-bottom: 20px;
    font-family: 'Montez', cursive;
    font-size: 45px;
}

li {
    font-family: 'Elsie', cursive;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding-left: 1rem !important;
}

a, .linkContact {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    background: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.WD-bg-primary {
    background-color: #ffffff;
    color: var(--text);
}

.WD-bg-primary-light {
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.83)), url(/media/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
}
.WD-bg-primary-light1{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.83)), url(/media/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
}
/* STYLE NAV */
.WD-navbar {
    padding-top: 0;
    background-color: #ffffff;
    transition: all 0.2s;
}

.WD-navbar-scroll {
    padding-top: 2%;
    background-color: transparent;
    color: #ffffff;
}

.WD-navbar .navbar-nav .nav-item {
    padding: 0 5px;
}

.dropdown-item {
    color: var(--text);
}

.WD-navbar .navbar-nav .nav-item a {
    color: var(--text);
    font-weight: 500;
    font-size: 1.5rem;
}

.WD-navbar .navbar-nav .nav-item a:hover {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-menu {
    background-color: var(--primary);
}

/* STYLE SECTION 1 */
.WD-masthead {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.83)), url(/media/bg2.png); */
    background-image: url(/media/bg.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    background-size:cover;
    height: 100vh;
}


.icone-gradient {
    background: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masthead-btn {
    color: var(--text);
    border-color: var(--tertiary);
    padding: 10px 30px;
    box-shadow: 5px 3px var(--tertiary);
    background-color: var(--primary);
    transition: all 0.15s;
}

.masthead-btn:hover {
    border-color: var(--tertiary);
    box-shadow: none;
    color: var(--text);
    transform: translate(5px, 5px);
}

.containerFrame {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
.responsive-iframe {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 0;
    right: 2px;
    width: 100%;
    height: 100%;
  }

/* STYLE CARD */
.card-section {
    color: var(--text);
    padding: 45px 30px;
    margin: 7px;
    background-color: transparent;
    box-shadow: none;
    font-size: 18px;
}

.listContact1{
    text-align: -webkit-left;
}

.listContact2{
    text-align: -webkit-right;
}

/* .ulContact1 {
    padding-left: 12px;
}

.ulContact2 {
    padding-right: 12px;
} */

/* FOOTER */
.footer-padding {
    padding-top: 2vh;
    padding-bottom: 2vh;
} 

.text-footer {
    font-size: 14px;
    font-family: 'Montez', cursive;
}